html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* ป้องกันการเลื่อนแนวนอน */
  scroll-behavior: smooth; /* เพิ่มการเลื่อนแบบ Smooth */
}

#home {
  min-height: 100vh; /* ครอบคลุมทั้งหน้าจอ */
  position: relative;
}

#about {
  min-height: 100vh; /* ครอบคลุมทั้งหน้าจอ */
  background-color: #f9f9f9; /* เพิ่มสีพื้นหลังเพื่อแยกส่วน */
  padding: 50px; /* ระยะห่างจากขอบ */
}

#rocketCanvas {
  position: absolute;
  z-index: -1; /* ทำให้ Rocket อยู่เบื้องหลังเนื้อหา */
  width: 100vw;
  height: 100vh;
}
